<div class="container mt-4">
    <h1>Gestión de latos</h1>
    
    <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#platoModal">
      <i class="bi bi-plus-circle"></i>
    </button>
  
    <table class="table table-bordered" id="table-plato">
      <thead>
        <tr>
          <th>#</th>
          <th>Plato</th>
          <th>Ingredientes</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tbody-plato">
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="platoModal" tabindex="-1" aria-labelledby="platoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="platoModalLabel">Agregar Plato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="platoForm">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" required>
            </div>
            <div class="mb-3">
                <label for="ingredientes" class="form-label">Ingredientes</label>
                <input type="text" class="form-control" id="ingredientes" required>
              </div>
            <div class="mb-3">
              <label for="categoria" class="form-label">Categoría</label>
              <select class="form-control" id="categoria" required>

              </select>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" required>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" data-edito="N" id="imagen" accept="image/*">
                <div class="align-content-center" id="preview-container" style="margin-top: 10px;">
                    <img id="preview" src="" alt="Vista previa de la imagen" style="max-width: 100%; height: auto; display: none;">
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="savePlato" onclick="guardarPlato()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  